/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* TailwindCSS */
@import 'tailwindcss';

/* Root */
:root {
  --color-primary: #333;
  --color-secondary: #888;
  --color-thr: #555;
  --color-four: #222;
  --color-white: #fff;
  --color-sub: #404040;
}

/* Theme */
@theme {
  --color-primary: #333;
  --color-secondary: #888;
  --color-thr: #555;
  --color-four: #222;
  --color-white: #fff;
  --color-sub: #404040;

  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* Layer Base */
@layer base {
  html,
  body {
    @apply font-roboto-mono;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-[1250px] mx-auto px-4;
  }

  .flex-center {
    @apply flex justify-center items-center gap-0;
  }

  /* Begin Header */
  .menu-item {
    @apply relative py-[8px] cursor-pointer;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 3px;
      width: 100%;
      border-radius: 20px;
      background-color: var(--color-primary);

      opacity: 0;
      transform: scale(0);
      transform-origin: right;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
      transition:
        transform 300ms,
        opacity 300ms;
    }
  }
  /* End Header */

  /* Begin Banner */
  .banner {
    background-color: #e9e6e3;

    background-image: url('./assets/images/banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* End Banner */

  .btn {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 12px 24px;
    background-color: var(--color-thr);
    cursor: pointer;
    line-height: 1;
    text-align: center;

    transition:
      background-color 300ms,
      color 300ms;
  }

  .btn-primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      background-color: transparent;
      color: var(--color-primary);
    }
  }

  .btn-outline {
    color: var(--color-primary);
    background-color: transparent;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  .advanced-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--color-primary);
    line-height: 32px;
    margin-bottom: 10px;

    &::before {
      @apply hidden md:flex;

      content: '';
      border-bottom: 4px double #e1e1e1;
      flex: 1;
      margin-right: 60px;
    }

    &::after {
      @apply hidden md:flex;

      content: '';
      border-bottom: 4px double #e1e1e1;
      flex: 1;
      margin-left: 60px;
    }
  }

  .countdown-banner {
    width: 100%;
    height: 100%;
    padding: 25px;

    background-image: url('./assets/images/countdown-banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
