/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* TailwindCSS */
@import 'tailwindcss';

/* Root */
:root {
  --color-primary: #333;
  --color-secondary: #888;
  --color-thr: #555;
  --color-four: #222;
  --color-white: #fff;
  --color-sub: #404040;
  --z-index-header: 100;
  --z-index-overlay: 101;
  --z-index-sidebar: 102;
}

/* Theme */
@theme {
  --color-primary: #333;
  --color-secondary: #888;
  --color-thr: #555;
  --color-four: #222;
  --color-white: #fff;
  --color-sub: #404040;

  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* Layer Base */
@layer base {
  html,
  body {
    @apply font-roboto-mono;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-[1250px] mx-auto px-4;
  }

  .flex-center {
    @apply flex justify-center items-center gap-0;
  }

  /* Begin Header */
  .header {
    z-index: var(--z-index-header);
  }

  .menu-item {
    @apply relative py-[8px] cursor-pointer;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 3px;
      width: 100%;
      border-radius: 20px;
      background-color: var(--color-primary);

      opacity: 0;
      transform: scale(0);
      transform-origin: right;
    }

    &.active::after,
    &:hover::after {
      opacity: 1;
      transform: scale(1);
      transition:
        transform 300ms,
        opacity 300ms;
    }

    &.menu-mobile.active {
      font-weight: 500;
    }
  }

  /* End Header */

  /* Begin Banner */
  .banner {
    background-color: #e9e6e3;

    background-image: url('./assets/images/banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overlay-banner {
    z-index: var(--z-index-banner);
  }
  /* End Banner */

  /* Begin Button */
  .btn {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 12px 24px;
    background-color: var(--color-thr);
    cursor: pointer;
    line-height: 1;
    text-align: center;

    transition:
      background-color 300ms,
      color 300ms;
  }

  .btn-primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      background-color: transparent;
      color: var(--color-primary);
    }
  }

  .btn-outline {
    color: var(--color-primary);
    background-color: transparent;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
  /* End Button */

  .advanced-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--color-primary);
    line-height: 32px;
    margin-bottom: 10px;

    &::before {
      @apply hidden md:flex;

      content: '';
      border-bottom: 4px double #e1e1e1;
      flex: 1;
      margin-right: 60px;
    }

    &::after {
      @apply hidden md:flex;

      content: '';
      border-bottom: 4px double #e1e1e1;
      flex: 1;
      margin-left: 60px;
    }
  }

  .countdown-banner {
    width: 100%;
    height: 100%;
    padding: 25px;

    background-image: url('./assets/images/countdown-banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Begin Loading */
  .loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .truckWrapper {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
  }

  .truckBody {
    width: 130px;
    height: fit-content;
    margin-bottom: 6px;
    animation: motion 1s linear infinite;
  }

  .truckTires {
    width: 130px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: absolute;
    bottom: 0;

    & svg {
      width: 24px;
    }
  }

  .road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: #282828;
      right: -50%;
      border-radius: 3px;
      animation: roadAnimation 1.4s linear infinite;
      border-left: 10px solid white;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 100%;
      background-color: #282828;
      right: -65%;
      border-radius: 3px;
      animation: roadAnimation 1.4s linear infinite;
      border-left: 4px solid white;
    }
  }

  .lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 1.4s linear infinite;
  }

  @keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-350px);
    }
  }
  /* End Loading */

  /* Begin Sidebar */
  .overlay {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-overlay);
    background-color: #0000004d;

    transition: all 300ms ease;
  }

  .sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--color-white);
    z-index: var(--z-index-sidebar);
  }

  .title-sidebar {
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    background-image: linear-gradient(90deg, currentcolor, currentcolor);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: fit-content;
    margin: 0 auto;
    transition:
      all 0.3s linear,
      background-position 0s;

    &:hover {
      background-size: 100% 2px;
      background-position: left bottom;
    }
  }
  /* End Sidebar */
}

@media (width <= 320px) {
  .sidebar {
    max-width: calc(100% - 50px);
  }
}
