/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* TailwindCSS */
@import 'tailwindcss';

/* Theme */
@theme {
  --color-primary: #333;
  --color-secondary: #888;
  --color-thr: #555;
  --color-white: #fff;
  --color-sub: #404040;

  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* Layer Base */
@layer base {
  html,
  body {
    @apply font-roboto-mono;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-[1250px] mx-auto px-4;
  }
}
